sinesp.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ConsultaPlacaMobileService" targetNamespace="http://soap.ws.placa.service.sinesp.serpro.gov.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.placa.service.sinesp.serpro.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.ws.placa.service.sinesp.serpro.gov.br/" xmlns:tns="http://soap.ws.placa.service.sinesp.serpro.gov.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getStatus" type="tns:getStatus"/>
<xs:element name="getStatusResponse" type="tns:getStatusResponse"/>
<xs:complexType name="getStatus">
<xs:sequence>
<xs:element minOccurs="0" name="a" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:retornoPlaca"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="retornoPlaca">
<xs:sequence>
<xs:element minOccurs="0" name="codigoRetorno" type="tns:codigoRetorno"/>
<xs:element minOccurs="0" name="mensagemRetorno" type="xs:string"/>
<xs:element minOccurs="0" name="codigoSituacao" type="tns:codigoSituacao"/>
<xs:element minOccurs="0" name="situacao" type="xs:string"/>
<xs:element minOccurs="0" name="modelo" type="xs:string"/>
<xs:element minOccurs="0" name="marca" type="xs:string"/>
<xs:element minOccurs="0" name="cor" type="xs:string"/>
<xs:element minOccurs="0" name="ano" type="xs:string"/>
<xs:element minOccurs="0" name="anoModelo" type="xs:string"/>
<xs:element minOccurs="0" name="placa" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:string"/>
<xs:element minOccurs="0" name="uf" type="xs:string"/>
<xs:element minOccurs="0" name="municipio" type="xs:string"/>
<xs:element minOccurs="0" name="chassi" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="codigoRetorno">
<xs:restriction base="xs:string">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
<xs:enumeration value="6"/>
<xs:enumeration value="7"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="codigoSituacao">
<xs:restriction base="xs:string">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="b" nillable="true" type="xs:string"/>
<xs:element name="c" nillable="true" type="xs:string"/>
<xs:element name="d" nillable="true" type="xs:string"/>
<xs:element name="e" nillable="true" type="xs:string"/>
<xs:element name="f" nillable="true" type="xs:string"/>
<xs:element name="g" nillable="true" type="xs:string"/>
<xs:element name="h" nillable="true" type="xs:string"/>
<xs:element name="i" nillable="true" type="xs:string"/>
<xs:element name="j" nillable="true" type="xs:string"/>
<xs:element name="k" nillable="true" type="xs:string"/>
<xs:element name="l" nillable="true" type="xs:string"/>
<xs:element name="m" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStatus">
    <wsdl:part element="tns:getStatus" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:b" name="b">
    </wsdl:part>
    <wsdl:part element="tns:c" name="c">
    </wsdl:part>
    <wsdl:part element="tns:d" name="d">
    </wsdl:part>
    <wsdl:part element="tns:e" name="e">
    </wsdl:part>
    <wsdl:part element="tns:f" name="f">
    </wsdl:part>
    <wsdl:part element="tns:g" name="g">
    </wsdl:part>
    <wsdl:part element="tns:h" name="h">
    </wsdl:part>
    <wsdl:part element="tns:i" name="i">
    </wsdl:part>
    <wsdl:part element="tns:j" name="j">
    </wsdl:part>
    <wsdl:part element="tns:k" name="k">
    </wsdl:part>
    <wsdl:part element="tns:l" name="l">
    </wsdl:part>
    <wsdl:part element="tns:m" name="m">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part element="tns:getStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConsultaPlacaMobile">
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatus" name="getStatus">
    </wsdl:input>
      <wsdl:output message="tns:getStatusResponse" name="getStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaPlacaMobileServiceSoapBinding" type="tns:ConsultaPlacaMobile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatus">
        <soap:header message="tns:getStatus" part="b" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="c" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="d" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="e" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="f" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="g" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="h" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="i" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="j" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="k" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="l" use="literal">
        </soap:header>
        <soap:header message="tns:getStatus" part="m" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaPlacaMobileService">
    <wsdl:port binding="tns:ConsultaPlacaMobileServiceSoapBinding" name="ConsultaPlacaMobilePort">
      <soap:address location="https://sinespcidadao.sinesp.gov.br/sinesp-cidadao/mobile/consultar-placa"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>